@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

table {
    margin: 50px auto;
    border-radius: 5px;
    border:  solid black;
    text-align: center;
    border-collapse: collapse;
    font-family: 'Roboto', sans-serif;
}

table td, table th {
    font-size: 30px;
    padding: 5px 10px;
}
table thead {
    background-color: blueviolet;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
tbody tr:nth-child(even) {
    color: white;
    background-color: black;
}